

/* ヘッダー */
.schedule-header {
  display: flex;
  align-items: center;
  background-color: #eeceaa;
  padding: 20px;
  height: 47px;
}

.header-title {
  color: #131010a8;
  font-size: 24px;
  flex: 1;
}

.schedule-btn {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 10px;
}

.schedule-btn:hover {
  background-color: #45a049;
}

/* フッター */

.calendar-footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between; /* 縦方向に等間隔に配置 */
  background-color: #eeceaa;
  height: 318px;
}

.schedule-info {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
}


.schedule-divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.btn-sm {
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-sm:hover {
  background-color: #2980b9;
}

.btn-sm:active {
  background-color: #216a94;
}

.logo-header {
  width: 180px; /* 画像の幅を指定 */
  height: 50px; /* 高さを自動調整 */
  margin-right: 20px;
}


/*  */
/*  */