.schedule-new-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #b5d1ee;
}

.schedule-form {
  max-width: 600px;
  width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #acd47f;
}

.input {
  width: 96%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #acd47f;
  border-radius: 4px;
}

.datetime-select-group {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4ec97b6;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.datetime-select-group select {
  margin: 0 5px;
  padding: 5px;
  border: 1px solid #e0b3b3;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border-color 0.3s ease;
}

.datetime-select-group select:focus {
  border-color: #ac6f6f;
}

.datetime-select-group label {
  margin-right: 5px;
  font-size: 14px;
  color: #ac6f6f;
}

.create-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #acd47f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.create-button:hover {
  background-color:#b5d1ee;
}

.back-link {
  display: block;
  margin-top: 20px;
  color: #acd47f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.back-link:hover {
  color: #b5d1ee;
}

.logo-link {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
