.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background: #b5d1ee;
  display: flex;
  justify-content: center;
}


.form-wrap {
  width: 50%;
  background: #b5d1ee;
  padding-bottom: 70px;
}

.form-header {
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.form-header-text {
  padding-top: 20px;
  line-height: 22px;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 15px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}

.input-name-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-name {
  width: 130px;
  margin: 5px 20px 0 20px;
  height: 48px;
  line-height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.input-birth-wrap select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 60px;
  padding: 0 5px;
}

.field_with_errors {
  display: contents;
}


.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 50%;
  margin: 0 auto;
}

.register-red-btn {
  display: block;
  margin-bottom: 20px;
  padding: 15px 80px;
  background-color: #db3838;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.register-red-btn:hover {
  transform: scale(0.95);
}

.register-red-btn:active {
  transform: scale(0.9);
}


.register-info {
  margin: 30px 180px 0 0;
  color: #0099e8;
  text-align: right;
  cursor: pointer;
}

.compact-date-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-select-wrapper {
  width: 80%; /* フォームの幅を100%に設定 */
  padding: 20px; /* フォームの内側のパディングを設定 */
  box-sizing: border-box; /* パディングを要素の幅に含めるためにbox-sizingを設定 */
  display: flex; /* 子要素を横並びにするためにflexを使用 */
  gap: 5px; /* 子要素間のスペースを設定 */
}

.date-select-wrapper select {
  flex: 1; /* セレクトボックスを均等に伸縮させるためにflexを使用 */
}


.department-select{
  margin-top: 5px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  resize: none;
}
