.registration-main {
  width: 100%;
  min-width: 800px;
  height: 100vh;
  background: #b5d1ee;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-wrap {
  width: 40%;
  max-width: 600px;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: -150px;
}


.form-header {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.form-header-text {
  padding-top: 10px;
  line-height: 20px;
  font-weight: bold;
  color: #555;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-text-wrap {
  width: 100%;
  height: 16px;
}

.form-text {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  margin-bottom: 3px;
}

.input-default {
  width: 100%;
  margin-top: 3px;
  height: 30px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background: #f4f4f4;
  font-size: 14px;
  resize: none;
}

.info-text {
  color: #888;
  font-size: 12px;
  margin-top: 2px;
}

.form-info-header {
  font-weight: bold;
  color: #333;
  margin-top: 15px;
}

.form-info-text {
  font-size: 12px;
  color: #555;
}

.input-name-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-name {
  width: 90px;
  margin: 3px 10px 0 10px;
  height: 30px;
  line-height: 20px;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  background: #f4f4f4;
  font-size: 12px;
  resize: none;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.input-birth-wrap select {
  width: 60px;
  margin-top: 3px;
  height: 24px;
  padding-left: 8px;
  border-radius: 4px;
  border: none;
  background: #f4f4f4;
  font-size: 10px;
  cursor: pointer;
}

.input-birth-wrap p {
  line-height: 30px;
  padding: 0 3px;
  color: #555;
}

.field_with_errors {
  display: contents;
}

.form-bottom-text {
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  color: #888;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 15px;
}

.form-bottom-text>span {
  color: #0099e8;
  cursor: pointer;
}

.register-btn {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.register-red-btn {
  display: block;
  margin-bottom: 15px;
  padding: 12px 60px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.register-red-btn:hover {
  transform: scale(0.95);
}

.register-red-btn:active {
  transform: scale(0.9);
}

.register-info {
  margin: 15px 0 0;
  color: #0099e8;
  text-align: center;
  cursor: pointer;
}

.compact-date-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.date-select-wrapper {
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  gap: 3px;
  justify-content: center;
}

.date-select-wrapper select {
  width: 100px;
  margin-top: 3px;
  height: 40px;
  padding-left: 6px;
  border-radius: 4px;
  border: none;
  background: #f4f4f4;
  font-size: 15px;
  cursor: pointer;
}

.department-select {
  margin-top: 3px;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  background: #f4f4f4;
  font-size: 14px;
  resize: none;
}

